#components-layout-demo-top-side-2 .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top-side-2 .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: rgb(255, 255, 255);
  background-color: rgb(255, 255, 255) ;
}

input{
  margin-left: 1px;
  border-color: #00fff7;
  width: 100px;
  height: 40px;
border-radius: 60px;
}
label{
  margin-left: 10px;
}
legend {
  margin-left: 360px;
  border-radius: 20px 20px 20px 20px;
}
fieldset {
  
border-top: 2px solid #00fff7;
	border-left: 2px solid #00fff7;
	border-right: 2px solid #00fff7;
  border-bottom: 2px solid #00fff7;
	border-radius: 20px 20px 20px 20px;


}